#mainNav {
    position:sticky;
    top: 0;

    background: hsla(205, 46%, 10%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0E1C26", endColorstr="#2A454B", GradientType=1 );
  }

  @media (min-width: 992px) { /* Specific changes */

        .projec{
            margin-top: 10px;
            margin-left: -100px
        }

        .projec2{
            margin-bottom: 75px;
            margin-left: -100px
        }

        .projec h4{
            margin-bottom: 20px;
            font-size: 40px;
            color:rgb(94, 36, 255)
            
        }

        .projec2 h5{
            margin-bottom: 20px;
            font-size: 40px;
            color:rgb(94, 36, 255)
        }

        .projec img{
            margin-left: 60px;
            margin-top: 50px;
        }

        .projec2 img{
            margin-left: 60px;
            margin-top: 50px;
        }

        .projec p{
            line-height: 2.0;
        }

        .projec2 p{
            line-height: 2.0;
        }
        
        .projec #target1{
            margin-top: 25px;
        }
    
        .projec2 #target2{
            margin-top: 25px;
        }

        .col-lg-6 a{
            font-size: 20px;
            margin-left: 300px;
        }

    }